@import url("https://fonts.googleapis.com/css?family=PT+Sans");
.wht {
  color: #fff;
}
.whtImportant {
  color: #fff !important;
}
.gry {
  color: #757575;
}
.bgGry {
  background-color: #757575;
}
.lightGry {
  color: #eee;
}
.bgLightGry {
  background-color: #eee;
}
.darkGry {
  color: #4a4a4a;
}
.blu {
  color: #00457c;
}
.bgBlu {
  background-color: #00457c;
}
.blk {
  color: #000;
}
.bgBlk {
  background-color: #000;
}
.red {
  color: #d32f2f;
}
.bgRed {
  background-color: #d32f2f;
}
@media (max-width: 768px) {
  .vc_align_left,
  .vc_align_right {
    text-align: center;
  }
}
.flexRow > .wpb_column > .vc_column-inner > .wpb_wrapper {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: row;
}
@media (max-width: 768px) {
  .flexRow > .wpb_column > .vc_column-inner > .wpb_wrapper {
    flex-wrap: wrap;
    flex-direction: column;
  }
}
.isDisabled {
  pointer-events: none;
}
#sidebar {
  display: none;
}
.entry-content table td,
.comment-body table td {
  border-bottom: none;
}
ul.sub-menu li.hover a {
  padding-top: 12px !important;
  margin-top: -2px;
}
ul.sub-menu li.hover a {
  border-bottom: 2px solid #f7b200 !important;
}
ul.sub-menu li.current_page_item > a {
  border-bottom: 2px solid #f7b200 !important;
}
.site-content {
  color: #000;
  font-size: 17px;
  padding-top: 0 !important;
}
.sub-header-container > div:nth-child(1) > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}
.page_title {
  padding: 0 20px 3px;
  font-family: 'PT Sans', sans-serif;
}
@media (min-width: 768px) {
  .page_title {
    background-color: rgba(0,0,0,0.8);
  }
}
@media (max-width: 768px) {
  .page_title {
    margin-top: -55px;
    width: 100%;
  }
}
.wpb_button,
.wpb_content_element,
ul.wpb_thumbnails-fluid > li {
  margin-bottom: 10px !important;
}
.entry-title {
  display: none !important;
}
.header .btn-primary,
.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover,
.header .navbar-nav > .active > a,
.header .navbar-nav > .active > a:before,
.slide-btn:hover,
.slide-btn:focus,
.slide-back,
.carousel-indicators .active,
.sections .section-title:before,
.service-button,
.start-add-to-cart a,
.testimonial-client-profile,
.testimonial-client-profile:after,
.newsletter-content-area input[type="submit"],
.news-thumbnail .news-overlay a,
input[type="submit"],
.callout-link:hover,
.callout-link:focus,
.carousel-control,
.pricing-item-area .pricing-header,
.pricing-features .pricing-button:hover,
.pricing-features .pricing-button:focus,
.pricing-item-area.active .pricing-features .pricing-button,
.portfolio-tabs ul li.active a,
.portfolio-tabs ul li.active a:hover,
.portfolio-tabs ul li.active a:focus,
.portfolio-item-area span,
.scroll_top,
.site-content .blog .more-link,
.blog .tags a,
.search-submit,
.widget .tagcloud a,
.page-numbers.current,
.contact-area .contact-section-header,
.btn-primary:hover,
.btn-primary:focus,
.btn-secondary {
  background-color: #00457c !important;
}
.sub-header a,
.sub-header a:hover,
.sub-header a:focus,
.slider .carousel-control .fa,
.sections .section-title strong,
.service-icon .fa,
.service-area .service-title:hover,
.service-area .service-title:focus,
.about-area a,
.about-area h3 a:hover,
.about-area h3 a:focus,
.product-category h6,
.product-category a,
.product-title a h3:hover,
.product-title a h3:focus,
.team-area .team-item-area .team-title:hover,
.team-area .team-item-area .team-title:focus,
.team-item-area .team-footer ul li .fa,
.newsletter-content-area input[type="submit"]:hover,
.newsletter-content-area input[type="submit"]:focus,
.news-title-link:hover,
.news-title-link:focus,
.news-title-link h3:hover,
.news-title-link h3:focus,
.news-item-area .time,
.news-item-area .media-body a:hover,
.news-item-area .media-body a:focus,
.news-item-area a,
.callout-link,
.pricing-item-area.active .pricing-features .pricing-icon,
.portfolio-tabs ul li a:hover,
.portfolio-tabs ul li a:focus,
.widget ul li > a:hover,
.widget ul li > a:focus,
.footer-post-area .footer-post-time,
.footer-post-area .footer_post_title:hover,
.footer-contact-info span .fa,
.copyright-contents a:hover,
.copyright-contents a:focus,
.site-content .blog a:hover,
.site-content .blog a:focus,
.site-content .blog .entry-title:hover,
.site-content .blog .entry-title:focus,
.author_detail .author_title,
.author_detail .author_title h4,
.widget a,
.widget .widget-title,
.widget .widget-title a,
.site-content a,
.site-content .blog a,
.comment-reply-link,
.btn-primary,
.btn-link:hover,
.btn-link:focus,
.btn-secondary:hover,
.btn-secondary:focus {
  color: #00457c !important;
}
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover,
.dropdown-menu>.active>a,
.dropdown-menu>.active>a:focus,
.dropdown-menu>.active>a:hover {
  color: #87ceeb !important;
}
.nav .open > a,
.nav .open > a:hover,
.nav .open > a:focus {
  color: #fff !important;
}
.dropdown-menu {
  border-top-color: #00457c !important;
}
.site-header.fixed {
  background-color: #00457c;
}
.site-header.fixed.float-header {
  background-color: #00457c;
}
.site-title,
.menu-menu-1-container a {
  text-shadow: 1px 1px 1px #333;
}
@media (max-width: 768px) {
  #hci {
    width: 100%;
  }
}
body {
  border: 0;
}
